.container {
    width: 300px;
 height: 270px;
 background: #6C7A89;
 display: flex;

 justify-content: center;
 align-items: center
     }
.box {
 width: 300px;
 height: 270px;
 background: #6C7A89;
}    
span{
    color:white;
    font-size: 18px;
}
